.goog-menu{
    overflow-y:scroll;
    height:400px;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

input[type="number"] {
    width: 6em;
}

#flip_charts {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#charts_panel {
    padding: 10px;
    display: none;
}
